@page "/"
@inject NavigationManager NavigationManager

<PageTitle>home</PageTitle>

<div class="container text-center my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mb-4">欢迎来到我们的网址!</h1>
            <p class="lead mb-4">感谢你今天的浏览</p>
            <button class="btn btn-primary btn-lg" @onclick="OnViewMoreClick">更多</button>
        </div>
    </div>
</div>

@code {
    private async Task OnViewMoreClick()
    {
            NavigationManager.NavigateTo("/userDetails");
    }
}
